$themes: (Admin: (//整体主色调/菜单栏背景/图标.按钮主色/悬停状态
        mainColor: #D6000F, //主题色
        titleColor: #5f95cc, //默认字体色/二级信息字体色
),
        Empt: (//整体主色调/菜单栏背景/图标.按钮主色/悬停状态
                mainColor: #409EFF, //菜单选中背景色/点击状态/文字,按钮按下
                titleColor: #d64e18, //列表背景色
        ),
);
